# Created by pytest automatically.

# Ignore Python virtual environments
venv/

# Ignore large media files
*.mp4
*.mov
*.wav

# Ignore pycache files
__pycache__/
*.pyc
*.pyo

.pytest_cache/
node_modules/

node_modules/

